@use "./normalize.scss";
@use "./vars.scss";
@use "./mixins/mixins.scss";
@use "./themes/themes.scss";
@use "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

#root {
  overflow: hidden;
}

.app {
  overflow: auto;
  height: 100vh;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.main {
  display: flex;
}
