// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --ui-transition: 0.3s;

  // colors
  --light-color: #fff;

  // sizes
  --font-size-m: 16px;
  --font-size-l: 24px;
  --icon-size-xl: 34px;
  --navbar-height: 70px;
  --inner-offset: 20px;
  --button-border-radius: 10px;
  --button-offset: 15px;
  --gap: 20px;
  --gap-mini: 10px;
  --icon-size-l: 25px;
  --sidebar-width: 180px;
  --sidebar-width-collapsed: 65px;
}
