// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --font-family-redesigned: "Roboto", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --ui-transition: 0.3s;

  // colors
  --light-color: #fff;
  --success-color: #7f9d7f;
  --overlay-color: rgba(0, 0, 0, 0.271);
  --active-color: #e1e114;

  // shadows
  --box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

  // sizes
  --font-size-s: 14px;
  --font-size-xs: 16px;
  --font-size-m: 18px;
  --font-size-l: 25px;
  --font-size-xl: 34px;
  --icon-size-xl: 34px;
  --navbar-height: 70px;
  --inner-offset: 20px;
  --input-offset: 10px;
  --button-offset: 15px;
  --gap: 20px;
  --gap-mini: 10px;
  --icon-size-l: 25px;
  --sidebar-width: 310px;
  --sidebar-width-collapsed: 65px;
  --modal-width: 400px;

  // radiuses
  --button-radius: 10px;
  --radius-s: 10px;
  --radius-l: 20px;

  // indexes
  --modal-z-index: 10;
}
