.Trigger {
  position: relative;
  border: none;
  border-radius: var(--radius-s);
  padding: var(--button-offset);
  width: 100%;
  text-align: left;
  color: var(--text-primary-color);
  transition: border var(--ui-transition) ease;
  cursor: pointer;

  &.primary {
    background-color: var(--bg-color);
  }

  &[data-headlessui-state="open"] {
    border-radius: var(--radius-s) var(--radius-s) 0 0;
  }

  svg {
    transform: rotate(-90deg);
  }

  &[disabled] {
    border: transparent;
  }

  &.outline {
    border: 1px solid var(--text-primary-color);
    padding: var(--input-offset);
    background-color: transparent;

    &[disabled] {
      border-color: currentcolor;
      opacity: 0.7;
    }

    .Label {
      margin-left: var(--input-offset);
      background-color: var(--bg-color);
    }
  }

  &.light {
    background-color: var(--bg-light-color);

    .Label {
      background-color: var(--bg-light-color);
    }
  }

  &.dark {
    .Label {
      background-color: var(--bg-color);
    }
  }

  &.outline + .Options {
    border: 1px solid var(--text-primary-color);
    border-top: none;
    border-radius: 0 0 var(--radius-s) var(--radius-s);
    width: 100%;
  }
}

.Options {
  position: absolute;
  z-index: 10;
  list-style: none;
  margin: 0;
  border-radius: 0 0 var(--radius-s) var(--radius-s);
  padding: var(--button-offset) 0;
  width: max-content;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
}

.Option {
  padding: 0 var(--button-offset);
}

.active {
  border-radius: var(--radius-xs);
  color: var(--text-inverted-color);
  background-color: var(--bg-inverted-color);
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
}

.Label {
  position: absolute;
  left: 0;
  top: calc(7px - var(--input-offset));
  display: inline-block;
  font-size: var(--font-size-s);
  color: var(--text-primary-color);
  transform: translateY(-5px);
  transition: transform var(--ui-transition) ease, font-size var(--ui-transition) ease;
}
