.Flex {
  display: flex;
}

.justifyStart {
  justify-content: start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: end;
}

.justifyBetween {
  justify-content: space-between;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.alignStart {
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.overflowInitial {
  overflow: initial;
}

.overflowHidden {
  overflow: hidden;
}

.overflowScroll {
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflowAuto {
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
