.Button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: 0;
  fill: var(--text-inverted-color);
  background-color: var(--bg-inverted-color);
}
