.Sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--inner-offset);
  width: 100%;
  height: calc(100svh - var(--navbar-height));
  max-width: var(--sidebar-width);
  background-color: var(--bg-light-color);
  transition: max-width var(--ui-transition) ease;
  gap: var(--gap);

  &.collapsed {
    max-width: var(--sidebar-width-collapsed);

    .CollapseBtn {
      svg {
        transform: scaleX(-1);
      }
    }

    .Switchers {
      flex-direction: column;
    }
  }
}

.Menulist {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.Switchers {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: max-content;
  gap: var(--gap-mini);
}

.CollapseBtn {
  background-color: var(--bg-light-color);

  svg {
    transition: transform var(--ui-transition) ease;
  }
}
