.Sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--inner-offset);
  width: 100%;
  height: calc(100svh - var(--navbar-height));
  max-width: var(--sidebar-width);
  background-color: var(--bg-inverted-color);
  transition: max-width var(--ui-transition) ease;

  &.collapsed {
    max-width: var(--sidebar-width-collapsed);

    .SidebarLink {
      font-size: 0;
      gap: 0;
    }

    .CollapseBtn {
      svg {
        transform: scaleX(-1);
      }
    }

    .Switchers {
      flex-direction: column;
    }
  }
}

.SidebarNav {
  margin-bottom: 20px;
}

.Menulist {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.SidebarLink {
  display: flex;
  align-items: center;
  width: max-content;
  gap: var(--gap-mini);
}

.Switchers {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: max-content;
  gap: var(--gap-mini);
}

.CollapseBtn {
  position: absolute;
  right: -34px;
  bottom: var(--inner-offset);

  svg {
    transition: transform var(--ui-transition) ease;
  }
}
