.Sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--inner-offset);
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  max-width: var(--sidebar-width);
  background-color: var(--bg-light-color);
  transition: max-width var(--ui-transition) ease;
  gap: var(--gap);

  @media (max-width: 1440px) {
    position: fixed;
    left: 50%;
    top: auto;
    bottom: 0;
    z-index: var(--sidebar-z-index);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding: var(--inner-offset);
    width: 100%;
    height: 77px;
    max-width: var(--container-width);
    transform: translateX(-50%);
  }

  &.collapsed {
    max-width: var(--sidebar-width-collapsed);

    @media (max-width: 1440px) {
      max-width: var(--container-width);
    }

    .CollapseBtn {
      svg {
        transform: scaleX(-1);
      }
    }

    .Switchers {
      flex-direction: column;

      @media (max-width: 1440px) {
        flex-direction: row;
      }
    }
  }
}

.Switchers {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: max-content;
  gap: var(--gap-mini);

  @media (max-width: 1440px) {
    margin-top: 0;
  }
}

.CollapseBtn {
  background-color: var(--bg-light-color);

  @media (max-width: 1440px) {
    display: none;
  }

  svg {
    transition: transform var(--ui-transition) ease;
  }
}
