.TextComponent {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--gap);
  max-height: 200px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(0deg, var(--bg-light-color) 0%, transparent 100%);
  }
}

.grid {
  .createdAt {
    position: absolute;
    right: var(--inner-offset);
    top: var(--inner-offset);
    opacity: 0;
    transition: opacity var(--ui-transition) ease;
  }

  .Card {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, var(--dark-color) 0%, transparent 100%);
      transform: translateY(-100%);
      transition: transform var(--ui-transition) ease;
      pointer-events: none;
    }

    &:hover {
      &::before {
        transform: initial;
      }

      .createdAt {
        opacity: 1;
      }
    }
  }
}

.isShadow {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(0deg, var(--bg-light-color) 0%, transparent 100%);
  }
}
