.Popover {
  position: relative;
}

.Panel {
  position: absolute;
  z-index: var(--modal-z-index);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-s);
  padding: var(--gap);
  width: 400px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  gap: var(--gap-mini);
}
