.SidebarItem {
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 400;
  font-size: var(--font-size-m);
  gap: var(--gap-mini);

  &.collapsed {
    font-size: 0;
    gap: 0;
  }
}

.SidebarItemRedesigned {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--gap-mini) var(--gap);
  width: 100%;
  font-weight: 400;
  font-size: var(--font-size-m);
  gap: var(--gap-mini);

  &.active {
    background-color: var(--bg-color);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: var(--bg-inverted-color);
    }
  }

  &.collapsed {
    font-size: 0;
    gap: 0;
  }

  &:hover {
    background-color: var(--bg-color);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: var(--bg-inverted-color);
    }
  }
}
