.ArticleViewSwitcher {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-mini);

  @media (max-width: 576px) {
    display: none;
  }
}

.Button {
  svg {
    color: var(--text-primary-color);
    stroke: var(--text-primary-color);
  }

  &.Current {
    svg {
      stroke: var(--bg-primary-color);
    }
  }
}
