.ArticleList {
  width: 100%;

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    overflow: initial;
    gap: var(--gap);
  }

  &.column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  &.display-flex {
    display: flex;
    padding-bottom: 30px;
    scroll-snap-type: x mandatory;

    .ArticleListItem {
      flex-shrink: 0;
      width: 100%;
      max-width: 255px;
      scroll-snap-align: start;
    }
  }

  &.display-grid {
    display: grid;
  }
}

.Wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
