.AppLink {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
  line-height: 100%;
  transition: color var(--ui-transition);
  gap: var(--gap-mini);

  &.hovered {
    @media (any-hover: hover) {
      &:hover {
        color: var(--bg-primary-color);

        svg {
          color: var(--bg-primary-color);
        }
      }
    }
  }
}

.primary {
  color: var(--text-primary-color);
}

.primary-light {
  color: var(--bg-primary-color);
}

.inverted {
  color: var(--text-inverted-color);
}

.secondary {
  color: var(--light-color);
}

.red {
  color: #f00;
}
