.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.LoginFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap);
}

.LoginBtn {
  width: 100%;
  max-width: 167px;
}
