body:has(.app.dark) {
  --bg-color: #141414;
  --bg-light-color: #212121;
  --bg-inverted-color: #e6e6e6;
  --text-inverted-color: #e6e6e6;
  --primary-color: #f0e7e7;
  --primary-inverted-color: #e6e6e6;
  --secondary-color: #c5c0c0;
}
