body:has(.app.light) {
  --bg-color: #e6e6e6;
  --bg-light-color: #fff;
  --skeleton-color: #b7b7b7;
  --bg-inverted-color: #292727;
  --text-inverted-color: #292727;
  --primary-color: #292727;
  --primary-inverted-color: #292727;
  --secondary-color: #3f3c3c;
}
