.light {
  --bg-color: #eee;
  --bg-light-color: #fff;
  --bg-primary-color: #465efd;
  --skeleton-color: #d0d0d0;
  --skeleton-wave-color: #aaa;
  --bg-inverted-color: #292727;
  --text-primary-color: #292727;
  --text-inverted-color: #e6e6e6;
  --text-inverted-light-color: #fff;
  --primary-color: #292727;
  --primary-inverted-color: #292727;
  --secondary-color: #3f3c3c;
  --error-color: #f00;
  --hover-color: #000;
}
