.App.light {
    --bg-inverted: #232323;
    --bg-color: #f0efef;
    --primary-color: #232323;
    --primary-color-inverted: #f0efef;
    --secondary-color: #f0efef;
    --secondary-color-inverted: #f0efef;
}