.orange {
  --bg-color: #ce7215;
  --bg-light-color: #fb8c1d;
  --bg-primary-color: #465efd;
  --skeleton-color: #f27d00ff;
  --skeleton-wave-color: #ac5600;
  --bg-inverted-color: #e6e6e6;
  --text-primary-color: #e6e6e6;
  --text-inverted-color: #292727;
  --text-inverted-light-color: #fff;
  --primary-color: #f0e7e7;
  --primary-inverted-color: #e6e6e6;
  --secondary-color: #c5c0c0;
  --error-color: #be0000;
  --hover-color: #fff;
}
