.Icon {
  color: var(--text-primary-color);
  stroke: var(--text-primary-color);
  stroke-width: 0;
  transition: color var(--ui-transition) ease;

  &.show {
    animation: show 1s ease-in-out;
  }

  &.primary {
    color: var(--bg-primary-color);
  }

  &.error {
    color: var(--error-color);
  }

  &.inverted {
    color: var(--bg-inverted-color);
  }

  &.normal {
    color: var(--text-primary-color);
  }
}

.button {
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  pointer-events: painted;
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
