.SidebarRedesigned {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius-l);
  padding: var(--gap) 0;
  height: 100%;
  max-width: var(--sidebar-width);
  background-color: var(--bg-light-color);
  gap: var(--gap);

  @media (max-width: 1890px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--bg-color);
    padding: var(--inner-offset);
    max-width: 100%;
    box-shadow: var(--box-shadow);
  }

  svg {
    flex-shrink: 0;
  }

  &.collapsed {
    max-width: var(--sidebar-width-collapsed);

    .CollapseBtn {
      svg {
        transform: scaleX(-1);
      }
    }

    .Switchers {
      flex-direction: column;
    }
  }
}

.Switchers {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: var(--gap);
  width: max-content;
  gap: var(--gap-mini);

  @media (max-width: 1890px) {
    margin: 0;
  }
}

.CollapseBtn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);

  @media (max-width: 1890px) {
    display: none;
  }
}

.SidebarListItem {
  width: 100%;

  @media (max-width: 1890px) {
    width: auto;
  }
}
