.MainLayout {
  display: grid;
  grid-template-columns: min-content 1fr 140px;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--navbar-z-index);
  grid-area: 1 / 1 / 2 / 4;
}

.sidebar {
  position: sticky;
  top: var(--navbar-height);
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--inner-offset);
  height: calc(100vh - (var(--navbar-height)));
}

.content {
  justify-items: center;
  grid-area: 2 / 2 / 3 / 3;
  overflow: hidden;
}

.contentRedesigned {
  overflow: initial;
}

.rightbar {
  position: sticky;
  top: var(--navbar-height);
  grid-area: 2 / 3 / 3 / 4;
  padding: var(--inner-offset);
  height: calc(100vh - (var(--navbar-height)));
}
