.ArticleDetailsPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap);
}

.CommentsTitle {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

.Recommendations {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.RecommendationsTitle {
  margin-bottom: var(--gap);
}
