.Navbar {
  padding: var(--header-offest) 0;
  background-color: var(--bg-inverted);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav {
  margin-left: auto;
}

.NavList {
  display: flex;
  gap: 20px;
}
