.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar {
    padding: var(--navbar-offset) 0;
    background-color: var(--bg-inverted-color);
}

.Nav {
    margin-left: auto;
}

.Menulist {
    justify-content: flex-end;
    display: flex;
    gap: var(--gap);
}

.Navlink {
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: 100%;
    color: green;
}