.Button {
  position: relative;
  border: 1px solid transparent;
  padding: 0;
  font-size: var(--font-size-m);
  line-height: 100%;
  background-color: transparent;
  transition:
    background-color var(--ui-transition) ease,
    color var(--ui-transition) ease,
    border var(--ui-transition) ease;
  cursor: pointer;

  &.shake {
    animation: icon-shake 1s ease-in-out;
  }
}

.icon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
  font-size: 0;
  fill: var(--text-primary-color);

  &.isActive {
    svg {
      color: var(--bg-primary-color);
    }
  }

  &.isHovered {
    svg {
      @media (any-hover: hover) {
        &:hover {
          color: var(--bg-primary-color);
        }
      }
    }
  }

  &.xs {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }

  &.l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }

  &.xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}

.fullWidth {
  width: 100%;
}

.text-primary {
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--text-primary-color);

  &.isHovered {
    @media (any-hover: hover) {
      &:hover {
        color: var(--bg-primary-color);
      }
    }
  }
}

.outline-inverted {
  border: 1px solid var(--text-inverted-color);
  border-radius: var(--radius-s);
  padding: calc(var(--button-offset) - 2px);
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--text-inverted-color);

  &.isHovered {
    @media (any-hover: hover) {
      &:hover {
        color: var(--bg-primary-color);
      }
    }
  }
}

.outline {
  border: 1px solid var(--text-primary-color);
  border-radius: var(--radius-s);
  padding: calc(var(--button-offset) - 2px);
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--text-primary-color);

  &[disabled] {
    @media (any-hover: hover) {
      &:hover {
        border-color: inherit;
        color: inherit;
        background-color: inherit;
        cursor: default;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--bg-primary-color);
      color: var(--text-primary-accent-color);
      background-color: var(--bg-primary-color);
    }
  }
}

.outline-red {
  border: 1px solid var(--error-color);
  border-radius: var(--radius-s);
  padding: calc(var(--button-offset) - 2px);
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--error-color);

  @media (any-hover: hover) {
    &:hover {
      color: var(--text-primary-accent-color);
      background-color: var(--error-color);
    }
  }
}

.text-inverted {
  color: var(--text-inverted-color);
}

.primary {
  border-radius: var(--radius-s);
  padding: var(--button-offset);
  color: var(--primary-inverted-color);
  background-color: var(--bg-color);

  @media (any-hover: hover) {
    &:hover {
      color: var(--text-primary-accent-color);
      background-color: var(--bg-primary-color);
    }
  }

  &[disabled] {
    color: var(--primary-inverted-color);
    background-color: var(--bg-color);
  }
}

.clear {
  border-radius: var(--radius-s);
  padding: var(--button-offset);
  color: var(--primary-inverted-color);

  &.isHovered {
    @media (any-hover: hover) {
      &:hover {
        color: var(--bg-primary-color);

        svg {
          color: var(--bg-primary-color);
        }
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--bg-color);
    }
  }
}

.disabled {
  opacity: 0.5;
}

.active {
  border: 1px solid var(--text-primary-color);
  border-color: var(--bg-primary-color);
  border-radius: var(--radius-s);
  padding: calc(var(--button-offset) - 2px);
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--text-primary-accent-color);
  background-color: var(--bg-primary-color);

  svg {
    color: var(--text-primary-accent-color);
  }
}

.text-light {
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--bg-primary-color);
}

.isAbsolute {
  position: absolute;
}

.offset_4 {
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
}

.offset_8 {
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
}

.offset_16 {
  left: 16px;
  right: 16px;
  top: 16px;
  bottom: 16px;
}

.offset_24 {
  left: 24px;
  right: 24px;
  top: 24px;
  bottom: 24px;
}

.top-left {
  left: var(--gap);
  top: var(--gap);
}

.top-right {
  right: var(--gap);
  top: var(--gap);
}

.bottom-left {
  left: var(--gap);
  bottom: var(--gap);
}

.bottom-right {
  right: var(--gap);
  bottom: var(--gap);
}

@keyframes icon-shake {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-15deg); }
  30% { transform: rotate(10deg); }
  45% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
