.Card {
  position: relative;
  border-radius: var(--radius-l);
  background-color: var(--bg-light-color);
  transition: transform var(--ui-transition) ease;

  &.show {
    animation: show 1s ease-in-out;
  }

  &.absolute {
    position: absolute;
  }

  &.sticky {
    position: sticky;
  }

  &.fixed {
    position: fixed;
  }

  &.top-left {
    left: 0;
    top: 0;
  }

  &.top-right {
    right: 0;
    top: 0;
  }

  &.bottom-left {
    left: 0;
    bottom: 0;
  }

  &.bottom-right {
    right: 0;
    bottom: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.max {
    width: 100%;
  }

  &.offset {
    padding: var(--inner-offset);
  }

  &.primary {
    background-color: var(--bg-light-color);
  }

  &.outline {
    border: 1px solid var(--bg-light-color);
    background-color: transparent;
  }

  &.outline-bg {
    border: 1px solid var(--bg-light-color);
    background-color: var(--bg-color);
  }

  &.outline-inverted-bg {
    border: 1px solid var(--bg-inverted-color);
    background-color: var(--bg-color);
  }

  &.inverted {
    background-color: var(--bg-inverted-color);
  }

  &.transparent {
    background-color: transparent;
  }

  &.accent {
    background-color: var(--bg-primary-color);
  }

  &.overflow {
    overflow: hidden;
  }

  &.active {
    background-color: var(--bg-color);
  }

  &.offset_0 {
    padding: 0;
  }

  &.offset_4 {
    padding: 4px;
  }

  &.offset_8 {
    padding: 8px;
  }

  &.offset_16 {
    padding: 16px;
  }

  &.offset_24 {
    padding: 24px;
  }

  &.radius_0 {
    border-radius: 0;
  }

  &.radius_4 {
    border-radius: 4px;
  }

  &.radius_8 {
    border-radius: 8px;
  }

  &.radius_10 {
    border-radius: 10px;
  }

  &.radius_12 {
    border-radius: 12px;
  }

  &.radius_20 {
    border-radius: 20px;
  }

  &.radius_24 {
    border-radius: 24px;
  }

  &.hovered {
    &:hover {
      transform: scale(1.03);
    }
  }

  &.isHidden {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
