.Card {
  position: relative;
  border-radius: var(--radius-l);
  background-color: var(--bg-light-color);
  transition: transform var(--ui-transition) ease;

  &.max {
    width: 100%;
  }

  &.offset {
    padding: var(--inner-offset);
  }

  &.primary {
    background-color: var(--bg-light-color);
  }

  &.outline {
    border: 1px solid var(--bg-light-color);
    background-color: transparent;
  }

  &.outline-inverted {
    border: 1px solid var(--bg-inverted-color);
    background-color: transparent;
  }

  &.inverted {
    background-color: var(--bg-inverted-color);
  }

  &.overflow {
    overflow: hidden;
  }

  &.active {
    background-color: var(--bg-color);
  }

  &.offset_0 {
    padding: 0;
  }

  &.offset_4 {
    padding: 4px;
  }

  &.offset_8 {
    padding: 8px;
  }

  &.offset_16 {
    padding: 16px;
  }

  &.offset_24 {
    padding: 24px;
  }

  &.hovered {
    &:hover {
      transform: scale(1.03);
    }
  }
}
