.StickyContentLayout {
  display: grid;
  justify-content: center;
  grid-template-areas: "left content right";
  grid-template-columns: 250px minmax(300px, var(--container-width)) 250px;
  width: 100%;
  gap: var(--gap);
}

.left {
  justify-self: flex-end;
  grid-area: left;
}

.content {
  justify-self: center;
  grid-area: content;
  overflow: hidden;
  width: 100%;
}

.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: calc(var(--navbar-height) + var(--inner-offset));
  margin-top: var(--inner-offset);
  height: fit-content;
}
