.StickyContentLayout {
  display: grid;
  justify-content: center;
  grid-template-areas: "left content right";
  grid-template-columns: min-content minmax(300px, 1200px) 230px;
  width: 100%;
  gap: var(--gap);
}

.left {
  grid-area: left;
}

.content {
  justify-self: center;
  grid-area: content;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: var(--inner-offset);
  margin-top: var(--inner-offset);
  height: fit-content;
}
