.CommentCard {
  list-style: none;
  padding: var(--inner-offset);
  width: 100%;
  background-color: var(--bg-light-color);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
  gap: var(--gap-mini);
}
