.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius-l);
  background-color: var(--bg-light-color);
  transition: transform var(--ui-transition) ease;

  &:hover {
    transform: scale(1.03);
  }
}
