.Card {
  border-radius: var(--radius-l);
  padding: var(--inner-offset);
  background-color: var(--bg-light-color);
  transition: transform var(--ui-transition) ease;

  &.hovered {
    &:hover {
      transform: scale(1.03);
    }
  }
}
