.Input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  padding: var(--input-offset) 0;
  width: 100%;
  font-size: var(--font-size-xs);
  background-color: transparent;

  &.textarea {
    margin-top: var(--input-offset);
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &.lined {
    border-bottom: 1px solid var(--text-primary-color);
    color: var(--text-primary-color);
    transition: border var(--ui-transition) ease, opacity var(--ui-transition) ease;
  }

  &.readonly {
    border-bottom: 1px solid transparent;
  }

  &.outlined {
    border: 1px solid var(--text-primary-color);
    border-radius: var(--radius-s);
    padding: var(--input-offset);
    color: var(--text-primary-color);
  }

  &.error {
    border-color: var(--error-color);
  }

  &::placeholder {
    font-size: 0;
  }

  &:focus {
    outline: none;
  }
}

.InputWrapper {
  position: relative;
  width: 100%;

  &.readonly {
    opacity: 0.7;
  }

  svg {
    fill: transparent;
  }

  &:has(.Addon) {
    .Input {
      padding-left: 29px;
    }
  }

  &:has(.textarea) {
    .InputPlaceholder {
      top: 27%;
    }
  }
}

.Addon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.InputPlaceholder {
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  width: max-content;
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 100%;
  color: var(--text-primary-color);
  transform: translateY(-50%);
  transition: transform var(--ui-transition) ease, font-size var(--ui-transition) ease;
  pointer-events: none;

  &.transparent {
    background-color: transparent;
  }

  &.outlined {
    z-index: 1;
    margin-left: var(--input-offset);
    padding: 3px;
    background-color: var(--bg-color);
  }

  &.light {
    background-color: var(--bg-light-color);
  }

  &.focused {
    font-size: var(--font-size-s);
    transform: translateY(-140%);

    &.lined {
      transform: translateY(-160%);
    }
  }
}

.Addon + .InputPlaceholder {
  margin-left: 29px;
}

.ErrorMessage {
  position: absolute;
  bottom: -1em;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
