.AppLink {
    font-size: var(--font-size-m);
    color: var(--primary-color);
    font-weight: 400;
    line-height: 100%;
}

.inverted {
    color: var(--primary-color-inverted);
}

.red {
    color: red;
}