.Card {
  background-color: var(--bg-light-color);
  transition: transform var(--ui-transition) ease;

  &.offset {
    padding: var(--inner-offset);

    @media (max-width: 1024px) {
      padding: 16px;
    }
  }

  &.hovered {
    &:hover {
      transform: scale(1.03);
    }
  }
}
