.Text {
  margin: 0;
  line-height: 100%;

  &.size-s {
    font-size: var(--font-size-s);
  }

  &.size-m {
    font-size: var(--font-size-m);
  }

  &.size-xs {
    font-size: var(--font-size-xs);
  }

  &.size-l {
    font-size: var(--font-size-l);
  }

  &.size-xl {
    font-size: var(--font-size-xl);
  }

  &.primary {
    color: var(--text-primary-color);
  }

  &.inverted {
    color: var(--text-inverted-color);
  }

  &.error {
    color: var(--error-color);
  }

  &.bold {
    font-weight: 700;
  }

  &.regular {
    font-weight: 400;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
