.Text {
  margin: 0;
  line-height: 100%;

  &.size-s {
    font-size: var(--font-size-s);
  }

  &.size-m {
    font-size: var(--font-size-m);
  }

  &.size-xs {
    font-size: var(--font-size-xs);
  }

  &.size-l {
    font-size: var(--font-size-l);

    @media (max-width: 1024px) {
      font-size: var(--font-size-m);
    }
  }

  &.size-xl {
    font-size: var(--font-size-xl);
  }

  &.size-xxl {
    font-size: var(--font-size-xxl);

    @media (max-width: 1024px) {
      font-size: var(--font-size-xl);
    }
  }

  &.primary {
    color: var(--text-primary-color);
  }

  &.inverted {
    color: var(--text-inverted-color);
  }

  &.error {
    color: var(--error-color);
  }

  &.cropped {
    overflow: hidden;
    /* stylelint-disable */
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &.cropped_1 {
    -webkit-line-clamp: 1;
  }

  &.cropped_2 {
    -webkit-line-clamp: 2;
  }

  &.cropped_3 {
    -webkit-line-clamp: 3;
  }

  &.cropped_4 {
    -webkit-line-clamp: 4;
  }

  &.cropped_5 {
    -webkit-line-clamp: 5;
  }

  &.cropped_6 {
    -webkit-line-clamp: 6;
  }

  &.cropped_7 {
    -webkit-line-clamp: 7;
  }

  &.cropped_8 {
    -webkit-line-clamp: 8;
  }

  &.cropped_9 {
    -webkit-line-clamp: 9;
  }

  &.bold {
    font-weight: 700;
  }

  &.regular {
    font-weight: 400;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
